.page {
    padding: 0 25px 0 25px;
    font-size: 10px;
}

.content-container {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    justify-content: space-evenly;
}

.rounded-border {
    border: 1px solid black;
    border-radius: 10px;
}

.padding-top-4-rem {
    padding-top: 4rem !important;
}

.padding-vertical-middle {
    margin-left: auto;
    margin-right: auto;
    max-width: 970px;
}

.drivers-container {
    display: flex;
    justify-content: space-evenly;
}

.drivers-card {
    min-width: 15rem; 
    background-color: lightgray;
}

.drivers-card .drivers-card-title { 
    text-align: center;
}

.drivers-card .drivers-card-inside {
    margin: 0 10% 0 10%;
    background-color: ghostwhite;
}

.spotts-container {
}