@page "/plates"
@using Platender.Front.Models.Enums

<form method="get" @onsubmit="GetPlates">
    <InputSelect @bind-Value="CultureCode">
        <option value="">---</option>
        @foreach (var cultureCode in Enum.GetValues(typeof(CultureCode)))
        {
            <option value="@cultureCode">@cultureCode</option>
        }
    </InputSelect>
    <InputText id="numbers" @bind-Value="Numbers" class="form-control" aria-required="true"></InputText>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

@if(_plates.Any())
{
    @foreach(var plate in _plates)
    {
        @plate.Number
    }
}