@page "/plates"
@using Platender.Front.Models.Enums

<div>
    <form method="get" @onsubmit="GetPlates">
        <InputSelect @bind-Value="CultureCode">
            <option value="">---</option>
            @foreach (var cultureCode in Enum.GetValues(typeof(CultureCode)))
            {
                <option value="@cultureCode">@cultureCode</option>
            }
        </InputSelect>
        <InputText id="numbers" @bind-Value="Numbers" class="form-control" aria-required="true"></InputText>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
@if(IsGetPlatesSend)
{
    @if(_plates.Items.Any())
    {
        @foreach(var plate in _plates.Items)
        {
            @plate.Number
        }
    }
    else
    {
        <div>
            Plate was not found, do you want to save that plate?
        </div>
        <div>
            <button type="submit" @onclick="PostPlate">Save Plate</button>
        </div>
    }
}