@page "/plates/{plateId}"
@using Platender.Front.Components
<div>
    @if (_plate != null)
    {
        <div>
            <EUPlate CultureCode="@_plate.Culture" Number="@_plate.Number"/>
        </div>
       <div>
            <Platender.Front.Components.AddComment @ref=AddCommentField SubmitButtonAction=@PostComment></Platender.Front.Components.AddComment>
        </div>
        <div>Comments: </div>
        <div>
            @if (_comments is not null || _comments.Any())
            {
                @foreach (var comment in _comments)
                {
                    <Comment Username="@comment.AddingUserName" Content="@comment.Description" ShowActionButtons="false"></Comment>
                }
            }
        </div>             
    }
    else
    {
        <p>Loading...</p>
    }
</div>

<div>
    <MudPaper>
        
    </MudPaper>
    <div>

    </div>

    <div>
        <MudPaper>
        </MudPaper>
    </div>
</div>
