@page "/Account/Register"

<PageTitle>Register</PageTitle>
<div class="row">
	<div class="col-md-4">
		<section>
			<EditForm id="account" Model="@InputAccount" OnValidSubmit="@RegisterUser">
				<DataAnnotationsValidator />
				<h2> Create a new account.</h2>
				<hr />
				<ValidationSummary class="text-danger" />
				<div class="form-floating mb-3">
					<InputText id="userName" @bind-Value="InputAccount.UserName" class="form-control" autocomplete="username" aria-required="true"></InputText>
					<label for="userName"> Username: </label>
					<ValidationMessage For="() => InputAccount.UserName" class="text-danger"/>
				</div>
				<div class="form-floating mb-3">
					<InputText id="password" type="password" @bind-Value="InputAccount.Password" class="form-control" autocomplete="username" aria-required="true"></InputText>
					<label for="password"> Password: </label>
					<ValidationMessage For="() => InputAccount.Password" class="text-danger" />
				</div>
				<button id="registerSubmit" type="submit" class="m-100 btn btn-lg btn-primary">Register</button>
			</EditForm>
		</section>
	</div>
</div>
<MudForm>
	<MudTextField T="string" @bind-Value="InputAccount.UserName" Label="Username" Required="true" RequiredError="User name is required!" />
 	<MudTextField T="string" @bind-Value="InputAccount.Password" Label="Password" @ref="pwField1"
                                  InputType="InputType.Password"
                                  Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                                  RequiredError="Password is required!"/>
	 <div class="d-flex align-center justify-space-between">
		<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="(()=>RegisterUser())">Login</MudButton>
	</div>
</MudForm>

