<MudCard>
    <MudCardContent>
        <MudText>Username</MudText>
        <div>
        <MudPaper Elevation="0">
            <MudText>Content</MudText>
        </MudPaper>
            <MudText>LikeAmount</MudText>
            <MudText>DisLikeAmount</MudText>
        </div>
    </MudCardContent>
    <MudCardActions>
    <MudButton Variant="Variant.Filled" ClickPropagation="false" Color="MudBlazor.Color.Success">Like</MudButton>
    <MudButton Variant="Variant.Filled" ClickPropagation="false" Color="MudBlazor.Color.Warning">Dislike</MudButton>
    </MudCardActions>
</MudCard>