<MudPaper>
	<div style="display: flex; justify-content: flex-start; border: 1px solid #000000">
	<div style="max-width: 100px; max-height: 100px; text-align: center; background-color: #003399; color: #ffffff">
		<MudImage src="images/EUFlagHD.jpg" Style="width: 100px"></MudImage>
		D
	</div>
		<div style="text-align: center; vertical-align: middle">TEXT</div>
	</div>
</MudPaper>

@code {

}
