<MudCard Style="margin-left: 15px; width: 200px; display: flex; flex-direction: column;" Elevation="1">
    
    <MudCardContent style="padding-top: 0;">
        <div style="position: relative;">
        <MudImage Width="175" Height="175" src="@image" ObjectFit="ObjectFit.Contain" />
        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="MudBlazor.Color.Error" Style="position: absolute; top: 0; right: 0; width: 10px; height: 10px; padding: 0px"></MudIconButton>
        </div>
    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public string image { get; set; }

    [Parameter]
	public Action OnClickAction { get; set; }  

    private void HandleClick()
    {
        OnClickAction?.Invoke();
    }
}