@using Platender.Front.Models
<MudPaper Style="color: #868482; margin: 10%">
    <div style="text-align: center"></div>
    <MudCarousel
        ShowArrows="true" 
        ShowBullets="true"
        EnableSwipeGesture="true" 
        AutoCycle="true" 
        TData="object" 
        style="min-width: 30rem; min-height: 30rem;">
        @foreach(var item in Items)
        {
             <MudCarouselItem Transition="Transition.Slide"  Color="@Color.Transparent">
                <MudImage Src=@item.Image ObjectFit="ObjectFit.Contain" Fluid="true"></MudImage>
             </MudCarouselItem>
        }
    </MudCarousel>
</MudPaper>

@code {
    [Parameter]
    public IEnumerable<SpottImageCarouselItem> Items { get; set; }
}
