@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <div style="margin-bottom: 58px">
            <NavMenu />
    </div>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
