@using Platender.Front.State
@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <div style="margin-bottom: 58px">
            <NavMenu />
    </div>
    <MudMainContent>
        <CascadingValue TValue="AccountState" @Value="AccountState">
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    public AccountState AccountState { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        AccountState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AccountState.OnChange -= StateHasChanged;
    }
}
