<div class="page">
    <div class="logo">
        lgoo
    </div>
    <div class="te-smieci">smeci</div>

    <div class="nav-bar-container">
        <div class="nav-bar">
            <button type="button" onclick="alert('Hello world!')">first</button>
            <button type="button" onclick="alert('Hello world!')">second</button>
            <button type="button" onclick="alert('Hello world!')">third</button>
            <button type="button" onclick="alert('Hello world!')">fourth</button>
        </div>
    </div>
</div>

@code {
}
